<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.academic_affairs_management_system.mapper.SelectcourseMapper">
    <select id="selectAll" resultType="com.example.academic_affairs_management_system.entity.Selectcourse">
        select * from selectcourse
    </select>

    <select id="getAllStuCourse" resultType="com.example.academic_affairs_management_system.controller.dto.StudentPack.StuCourse">
        select selectcourse.semester,
        selectcourse.studentId,student.name as studentName,
        selectcourse.staffId,student.deptId as deptId,deptName,
        course.credit as courseCredit,
        selectcourse.courseId,course.name as courseName,selectcourse.classtime as classTime,
        status
        from selectcourse,course,student,dept,semestatus
        <where>
            selectcourse.courseId = course.courseId
            and selectcourse.studentId = student.studentId
            and student.deptId = dept.deptId
            and selectcourse.semester = semestatus.semester
            and selectcourse.semester = #{semester}
            <if test="studentId!=null and studentId!=''">
                and selectcourse.studentId = #{studentId}
            </if>
        </where>
    </select>

    <select id="getStuSelPage" resultType="com.example.academic_affairs_management_system.controller.dto.StudentPack.StuCourse">
        select opencourse.semester, course.name as courseName
        From course,opencourse,teacher
        <where>
            opencourse.courseId = course.courseId
            and opencourse.staffId = teacher.staffId
            <if test="semester!=null and semester!=''">
                and opencourse.semester = #{semester}
            </if>
            <if test="courseId!=null and courseId!=''">
                and opencourse.courseId = #{courseId}
            </if>
            <if test="courseName!=null and courseName!=''">
                and course.name = #{courseName}
            </if>
        </where>
    </select>

    <select id="getStuSelCourse" resultType="com.example.academic_affairs_management_system.controller.dto.StudentPack.StuCourse">
        select opencourse.semester,
        opencourse.staffId,teachername as staffName,
        course.credit as courseCredit,
        opencourse.courseId,course.name as courseName,opencourse.classtime as classTime,
        volume, remnant
        From course,teacher,opencourse
        <where>
            opencourse.courseId = course.courseId
            and opencourse.staffId = teacher.staffId
            and opencourse.semester = #{semester}
            <if test="courseId!=null and courseId!=''">
                and opencourse.courseId = #{courseId}
            </if>
            <if test="courseName!=null and courseName!=''">
                and course.name = #{courseName}
            </if>
        </where>
        limit #{pageCurrent},#{pageSize}
    </select>

    <select id="getStuPage" resultType="com.example.academic_affairs_management_system.controller.dto.StudentPack.StuScore">
        select score,testScore,finalScore,credit as courseCredit
        from selectcourse,student,course
        <where>
            selectcourse.courseId = course.courseId
            and selectcourse.studentId = student.studentId
            <if test="semester!=null and semester!=''">
                and selectcourse.semester = #{semester}
            </if>
            <if test="studentId!=null and studentId!=''">
                and selectcourse.studentId = #{studentId}
            </if>
        </where>
    </select>

    <select id="getStuScore" resultType="com.example.academic_affairs_management_system.controller.dto.StudentPack.StuScore">
        select semester,
        selectcourse.studentId,student.name as studentName,
        selectcourse.staffId,student.deptId as deptId,deptName,
        course.credit as courseCredit,
        selectcourse.courseId,course.name as courseName,selectcourse.classtime as classTime,
        testScore,score,ratio,
        finalScore
        From selectcourse,course,student,dept
        <where>
            selectcourse.courseId = course.courseId
            and selectcourse.studentId = student.studentId
            and student.deptId = dept.deptId
            and semester = #{semester}
            <if test="studentId!=null and studentId!=''">
                and selectcourse.studentId = #{studentId}
            </if>
        </where>
        limit #{pageCurrent},#{pageSize}
    </select>

    <select id="getScore" resultType="com.example.academic_affairs_management_system.controller.dto.AdminPack.Score">
        select semester,
        selectcourse.studentId,student.name as studentName,
        selectcourse.staffId,student.deptId as deptId,deptName,
        selectcourse.courseId,course.name as courseName,selectcourse.classtime as classTime,
        testScore,score,ratio,
        finalScore
        From selectcourse,course,student,dept
        <where>
            selectcourse.courseId = course.courseId
            and selectcourse.studentId = student.studentId
            and student.deptId = dept.deptId
            and semester = #{semester}
            <if test="studentId!=null and studentId!=''">
                and selectcourse.studentId = #{studentId}
            </if>
            <if test="studentName!=null and studentName!=''">
                and student.name = #{studentName}
            </if>
            <if test="courseId!=null and courseId!=''">
                and selectcourse.courseId = #{courseId}
            </if>
            <if test="courseName!=null and courseName!=''">
                and course.name = #{courseName}
            </if>
        </where>
        limit #{pageCurrent},#{pageSize}
    </select>

    <select id="getAllScore" resultType="com.example.academic_affairs_management_system.controller.dto.AdminPack.Score">
        select semester,
        selectcourse.studentId,student.name as studentName,
        selectcourse.staffId,student.deptId as deptId,deptName,
        selectcourse.courseId,course.name as courseName,selectcourse.classtime as classTime,
        testScore,score,ratio,
        finalScore
        From selectcourse,course,student,dept
        <where>
            selectcourse.courseId = course.courseId
            and selectcourse.studentId = student.studentId
            and student.deptId = dept.deptId
        </where>
        limit #{pageCurrent},#{pageSize}
    </select>

    <delete id="AdminDelScore">
            delete
            from selectcourse
            <where>
                selectcourse.semester = #{semester}
                AND selectcourse.studentId = #{studentId}
                AND selectcourse.staffId = #{staffId}
                AND selectcourse.courseId = #{courseId}
            </where>
    </delete>

    <select id="getCourseRank" resultType="com.example.academic_affairs_management_system.controller.dto.AdminPack.Rank">
        select semester,
               selectcourse.studentId,student.name as studentName,
               course.name as courseName,course.courseId,
               finalScore
        from selectcourse,student,course
        <where>
            selectcourse.studentId = student.studentId
            and selectcourse.courseId = course.courseId
            and selectcourse.semester = #{semester}
            <if test="courseId !=null and courseId!=''">
                and course.courseId = #{courseId}
            </if>
            <if test="courseName !=null and courseName!=''">
                and course.name = #{courseName}
            </if>
            ORDER BY finalScore DESC
        </where>
        <if test="isPage=='需要'">
            limit #{pageCurrent},#{pageSize}
        </if>


    </select>

    <select id="getPage" resultType="com.example.academic_affairs_management_system.controller.dto.AdminPack.Score">
        select score,testScore,finalScore
        from selectcourse,student,course
        <where>
            selectcourse.courseId = course.courseId
            and selectcourse.studentId = student.studentId
            <if test="semester!=null and semester!=''">
                and selectcourse.semester = #{semester}
            </if>
            <if test="studentId!=null and studentId!=''">
                and selectcourse.studentId = #{studentId}
            </if>
            <if test="studentName!=null and studentName!=''">
                and student.name = #{studentName}
            </if>
            <if test="courseId!=null and courseId!=''">
                and selectcourse.courseId = #{courseId}
            </if>
            <if test="courseName!=null and courseName!=''">
                and course.name = #{courseName}
            </if>
        </where>
    </select>

    <select id = "getDeptRank" resultType="com.example.academic_affairs_management_system.controller.dto.AdminPack.Rank">
        select semester,selectcourse.studentId,student.name as studentName,
               sum(course.credit * selectcourse.finalScore)/sum(course.credit) as semeFinalScore, deptName
        from selectcourse,course,student,dept
        <where>
            selectcourse.courseId = course.courseId
            and selectcourse.studentId = student.studentId
            and student.deptId = dept.deptId
            <if test="semester !=null and semester!=''">
                and semester = #{semester}
            </if>
            <if test="deptName!=null and deptName!=''">
                and deptName = #{deptName}
            </if>
            </where>
            GROUP BY selectcourse.studentId
            ORDER BY semeFinalScore DESC
            <if test="isPage=='需要'">
                limit #{pageCurrent},#{pageSize}
            </if>
    </select>

    <update id="updateScore" >
        Update selectcourse
        <choose>
            <when test="S.testscore!=null and S.testscore!=''">
                set score=#{S.score},testScore=#{S.testscore}
            </when>
            <otherwise>
                set score=score+10
            </otherwise>
        </choose>
        <where>
        semester = #{semester}
        and studentId = #{S.studentid} and courseId = #{S.courseid} and staffId = #{S.staffid} and classTime = #{S.classtime}
        </where>


    </update>
</mapper>
